<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/Styles.css">
        <script defer src="script.js"></script>
</head>
<body class="home">
        <header>
            <nav class="nav">
                <a href="/">
                    <svg class="icon icon--large nav__logo">
                    <use xlink:href="images/theSprite.svg#logo"></use>
                  </svg>
                </a>
                <button aria-controls="primary-navigation" aria-expanded="false" class="btn nav__toggler">
                    <span class="sr-only">munu</span>
                </button>
                <ul id="primary-navigation" data-visible="false" class="list primary-navigation">
                    <li class="list__item nav__item">
                        <a class="link" href="">
                        <span aria-hidden="true" class="list__number">00</span>
                        home
                       </a>
                   </li>
                    <li class="list__item nav__item">
                        <a class="link" href="">
                        <span aria-hidden="true" class="list__number">01</span>
                        destination
                       </a>
                   </li>
                    <li class="list__item nav__item">
                        <a class="link" href="">
                        <span aria-hidden="true" class="list__number">02</span>
                        crew
                       </a>
                   </li>
                    <li class="list__item nav__item">
                        <a class="link" href="">
                        <span aria-hidden="true" class="list__number">03</span>
                         technology
                       </a>
                   </li>
                </ul>
            </nav>
        </header>
         <main>
             <section class="block">
               <div class="container grid grid--cols-2 hero">
                <div class="hero__content">
                    <p class="hero__tagline ">So you want to travel to space</p>
                    <h1>space</h1>
                    <p class="block__content">Let’s face it; if you want to go to space, you might as well genuinely go to outer space and not hover kind of on the edge of it. Well sit back,
                        and relax because we’ll give you a truly out of this world experience!
                    </p>
                </div>
                <a class="link link--round" href="/">explore</a>
                </div>
                     </section>
         </main>
</body>
</html>