<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/Styles.css">
        <script defer src="script.js"></script>
</head>
<body>
    <header>
        <nav class="nav">
            <a href="/">
                <svg class="icon icon--large nav__logo"> 
                <use xlink:href="images/theSprite.svg#logo"></use>
              </svg>
            </a>
            <button aria-controls="primary-navigation" aria-expanded="false" class="btn nav__toggler">
                <span class="sr-only">munu</span>
            </button>
            <ul id="primary-navigation" data-visible="false" class="list primary-navigation">
                <li class="list__item nav__item">
                    <a class="link" href="">
                    <span aria-hidden="true" class="list__number">00</span>
                    home
                   </a>
               </li>
                <li class="list__item nav__item">
                    <a class="link" href="">
                    <span aria-hidden="true" class="list__number">01</span>
                    destination
                   </a>
               </li>
                <li class="list__item nav__item">
                    <a class="link" href="">
                    <span aria-hidden="true" class="list__number">02</span>
                    crew
                   </a>
               </li>
                <li class="list__item nav__item">
                    <a class="link" href="">
                    <span aria-hidden="true" class="list__number">03</span>
                     technology
                   </a>
               </li>
            </ul>
        </nav>
    </header>  

        <section class="grid grid--cols-2  technology">
            <div class="container technology__header">
                <div class="block block-technology">
                        <ul class="list pagination pagination--large">
                             <li class="pagination__item special"><a href="">1</a></li>
                            <li class="pagination__item"><a href="">2</a></li>
                            <li class="pagination__item"><a href="">3</a></li>
                        </ul>
                    <div>
                        <div class="block__heading">
                            <p class="block__text">the terminology</p>
                            <h3 class="block__header">SPACEPORT</h3>
                        </div>
                        <p class="block__content">
                            A spaceport or cosmodrome is a site for launching (or receiving) spacecraft, by analogy to the seaport for ships or airport for aircraft. 
                            Based in the famous Cape Canaveral, our spaceport is ideally situated to take advantage of the Earth’s rotation for launch.

                        </p>
                    </div>
                </div>
            </div>
            <picture class="img technology__img">
                 <source media="(min-width: 1024px)" srcset="images/technology/jpg/image-spaceport-portrait.jpg" />
                 <img src="images/technology/jpg/image-spaceport-landscape.jpg" alt="">
            </picture>  
          </section>
</body>
</html>