<nav class="nav collapsible collapsible--expanded">
    <a href="/">
        <svg class="icon icon--large">
        <use xlink:href="images/theSprite.svg#logo"></use>
      </svg>
    </a>
    <button class="btn nav__toggler collapsible__chevron">
        <svg class="icon icon--small">
            <use xlink:href="images/theSprite.svg#icon-hamburger"></use>
          </svg>
    </button>
    <ul class="list nav__list collapsible__content">
        <li class="list__item nav__item">
            <a class="link" href="">
            <span aria-hidden="true" class="list__number">00</span>
            home
           </a>
       </li>
        <li class="list__item nav__item">
            <a class="link" href="">
            <span aria-hidden="true" class="list__number">01</span>
            home
           </a>
       </li>
        <li class="list__item nav__item">
            <a class="link" href="">
            <span aria-hidden="true" class="list__number">02</span>
            home
           </a>
       </li>
        <li class="list__item nav__item">
            <a class="link" href="">
            <span aria-hidden="true" class="list__number">03</span>
             home
           </a>
       </li>
    </ul>
</nav>