<nav>
    <ul class="list pagination pagination--small">
        <li class="pagination__item"><a href=""></a></li>
        <li class="pagination__item"><a href=""></a></li>
        <li class="pagination__item"><a href=""></a></li>
        <li class="pagination__item"><a href=""></a></li></li>
    </ul>
   </nav>
<nav>
    <ul class="list pagination pagination--large">
        <li class="pagination__item"><a class="link" href=""></a></li>
        <li class="pagination__item"><a class="link" href=""></a></li>
        <li class="pagination__item"><a class="link" href=""></a></li>
        <li class="pagination__item"><a class="link" href=""></a></li></li>
    </ul>
   </nav>