<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/Styles.css">
        <script defer src="script.js"></script>
</head>
<body class="destinations">
    <header>
        <nav class="nav">
            <a href="/">
                <svg class="icon icon--large nav__logo">
                <use xlink:href="images/theSprite.svg#logo"></use>
              </svg>
            </a>
            <button aria-controls="primary-navigation" aria-expanded="false" class="btn nav__toggler">
                <span class="sr-only">munu</span>
            </button>
            <ul id="primary-navigation" data-visible="false" class="list primary-navigation">
                <li class="list__item nav__item">
                    <a class="link" href="">
                    <span aria-hidden="true" class="list__number">00</span>
                    home
                   </a>
               </li>
                <li class="list__item nav__item">
                    <a class="link" href="">
                    <span aria-hidden="true" class="list__number">01</span>
                    destination
                   </a>
               </li>
                <li class="list__item nav__item">
                    <a class="link" href="">
                    <span aria-hidden="true" class="list__number">02</span>
                    crew
                   </a>
               </li>
                <li class="list__item nav__item">
                    <a class="link" href="">
                    <span aria-hidden="true" class="list__number">03</span>
                     technology
                   </a>
               </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="grid grid--cols-2 destination container">
            <div class="destination__header">
                <h2>
                    <span class="number number--transparent">01</span>
                     pick your destination
                </h2>
                <!DOCTYPE html>
                <html lang="en">
                    <head>
                        <meta charset="UTF-8">
                        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                        <title>Document</title>
                        <link rel="preconnect" href="https://fonts.googleapis.com">
                        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                        <link href="https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap" rel="stylesheet">
                        <link rel="stylesheet" href="css/normalize.css">
                        <link rel="stylesheet" href="css/Styles.css">
                        <script defer src="script.js"></script>
                </head>
                <body class="destinations">
                    <header>
                        <nav class="nav">
                            <a href="/">
                                <svg class="icon icon--large nav__logo">
                                <use xlink:href="images/theSprite.svg#logo"></use>
                              </svg>
                            </a>
                            <button aria-controls="primary-navigation" aria-expanded="false" class="btn nav__toggler">
                                <span class="sr-only">munu</span>
                            </button>
                            <ul id="primary-navigation" data-visible="false" class="list primary-navigation">
                                <li class="list__item nav__item">
                                    <a class="link" href="">
                                    <span aria-hidden="true" class="list__number">00</span>
                                    home
                                   </a>
                               </li>
                                <li class="list__item nav__item">
                                    <a class="link" href="">
                                    <span aria-hidden="true" class="list__number">01</span>
                                    destination
                                   </a>
                               </li>
                                <li class="list__item nav__item">
                                    <a class="link" href="">
                                    <span aria-hidden="true" class="list__number">02</span>
                                    crew
                                   </a>
                               </li>
                                <li class="list__item nav__item">
                                    <a class="link" href="">
                                    <span aria-hidden="true" class="list__number">03</span>
                                     technology
                                   </a>
                               </li>
                            </ul>
                        </nav>
                    </header>
                    <main>
                        <section class="grid grid--cols-2 destination container">
                            <div class="destination__header">
                                <h2>
                                    <span class="number number--transparent">01</span>
                                     pick your destination
                                </h2>
                                <picture>
                                    <source srcset="images/destination/png/image-europa.png" type="image/png" />
                                    <source srcset="images/destination/webp/image-europa.webp" type="image/webp" />
                                    <img src="images\destination\png\image-europa.png" alt="The moon" />
                                  </picture>
                            </div>
                            <div class="block">
                                <ul class="list list--secondary">
                                    <li class="list__item active">
                                        <a class="link" href="">
                                        moon
                                       </a>
                                   </li>
                                    <li class="list__item">
                                        <a class="link" href="">
                                        mars
                                       </a>
                                   </li>
                                    <li class="list__item">
                                        <a class="link" href="">
                                        europa
                                       </a>
                                   </li>
                                    <li class="list__item">
                                        <a class="link" href="">
                                         titan
                                       </a>
                                   </li>
                                </ul>
                                <h3 class="block__header">titan</h3>
                                <p class="block__content">
                                    The only moon known to have a dense atmosphere other than Earth,
                                     Titan is a home away from home (just a few hundred degrees colder!). 
                                     As a bonus, you get striking views of the Rings of Saturn.
                                </p>
                                <div class="destination__statistics">
                                    <div>
                                        <h4 class="destination__distance-header">avg.distance</h4>
                                        <span class="destination__distance-number">1.6 bil.km</span>
                                    </div>
                                    <div>
                                        <h4 class="destination__time-travel-header">est.travel time</h4>
                                        <span class="destination__time-travel-number">7 years</span>
                                    </div>
                                </div>
                            </div>
                          </section>
                    </main>
                </body>
                </html>
            </div>
            <div class="block">
                <ul class="list list--secondary">
                    <li class="list__item active">
                        <a class="link" href="">
                        moon
                       </a>
                   </li>
                    <li class="list__item">
                        <a class="link" href="">
                        mars
                       </a>
                   </li>
                    <li class="list__item">
                        <a class="link" href="">
                        europa
                       </a>
                   </li>
                    <li class="list__item">
                        <a class="link" href="">
                         titan
                       </a>
                   </li>
                </ul>
                <h3 class="block__header">moon</h3>
                <p class="block__content">
                    See our planet as you’ve never seen it before. A perfect relaxing trip away to help regain perspective and come back refreshed.
                    While you’re there, take in some history by visiting the Luna 2 and Apollo 11 landing sites.
                </p>
                <div class="destination__statistics">
                    <div>
                        <h4 class="destination__distance-header">avg.distance</h4>
                        <span class="destination__distance-number">384,400 km</span>
                    </div>
                    <div>
                        <h4 class="destination__time-travel-header">est.travel time</h4>
                        <span class="destination__time-travel-number">3 days</span>
                    </div>
                </div>
            </div>
          </section>
    </main>
</body>
</html>